<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View transactions</title>
</head>
<body>
    <main>
        <h1>Transactions</h1>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Catergory</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.catergory }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>
                        <a href="{% url 'edit_transaction' transaction.id %}">
                            Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </main>
</body>
</html>